<div class="container">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container-fluid">
                @Html.ActionLink(" Home - Meeting List", "Index", "Home", null, new { @class = "btn btn-success glyphicon glyphicon-th-list" })
                <span class=" ">
                    @Html.ActionLink(" Admin", "ManagerOverview", "MeetingRoomAttendees", null, new { @class = "btn btn-primary glyphicon glyphicon-cog" })
                </span>
            </div>
        </div>
    </div>
</div>
